@model IEnumerable<MyBlogApp.Models.Article>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.DisplayFor(model => item.Title)
        </div>
        <div class="panel-body">
            <div class="article-body">
                @Html.DisplayFor(model => item.Body)
            </div>
            <div class="text-right text-muted">
                @Html.ActionLink("続きを読む", "Details", new { Id = item.Id })
            </div>
        </div>
        <div class="panel-footer text-right">
            @Html.DisplayNameFor(model => model.CategoryName):
            @Html.ActionLink(item.Category.CategoryName, "Details", 
                new { id = item.Category.Id, Controller = "Categories" })

            @Html.DisplayNameFor(model => model.CreatedOn):
            @Html.DisplayFor(model => item.CreatedOn)

            @Html.DisplayNameFor(model => model.Modified):
            @Html.DisplayFor(model => item.Modified)
        </div>
    </div>
}
